.btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #bdf3ea 0%,
    #5f5d70 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  min-width: 75px;
  height: 35px;
  text-align: center;
}
